flows 1.json
[{"id":"e9a9bafe.f128c8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"b85cfedc.3dbda","type":"mqtt in","z":"e9a9bafe.f128c8","name":"","topic":"mcs/DiGrUNjI/lDYLQxgr0ZWwy0Ux/+","qos":"2","datatype":"auto","broker":"926cb87c.fc04d8","x":240,"y":180,"wires":[["5047030e.c6472c"]]},{"id":"5047030e.c6472c","type":"csv","z":"e9a9bafe.f128c8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":470,"y":220,"wires":[["36d622d9.ba002e"]]},{"id":"36d622d9.ba002e","type":"change","z":"e9a9bafe.f128c8","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":300,"wires":[["d95cc77d.549798"]]},{"id":"d95cc77d.549798","type":"ui_gauge","z":"e9a9bafe.f128c8","name":"","group":"57f81272.f48a1c","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":320,"wires":[]},{"id":"926cb87c.fc04d8","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57f81272.f48a1c","type":"ui_group","z":"","name":"Status","tab":"a76e2271.09da1","order":1,"disp":true,"width":"6","collapse":false},{"id":"a76e2271.09da1","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]