flows.json
[{"id":"51d8fb84.e3b6f4","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"647f467b.b50c18","type":"inject","z":"51d8fb84.e3b6f4","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["2e32922.a9d4a6e"]]},{"id":"4c6b1ac2.fbdcc4","type":"inject","z":"51d8fb84.e3b6f4","name":"","topic":"","payload":",,20.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["2e32922.a9d4a6e"]]},{"id":"2e32922.a9d4a6e","type":"mqtt out","z":"51d8fb84.e3b6f4","name":"","topic":"mcs/DiGrUNjI/lDYLQxgr0ZWwy0Ux/Temperature","qos":"2","retain":"","broker":"926cb87c.fc04d8","x":580,"y":220,"wires":[]},{"id":"926cb87c.fc04d8","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]